
.footer {
    display: flex;
    background-color: #2D384C;
    height: 60px;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 3px;
    padding: 4% 3% 3%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerText {
    font-size: 70%;
}
