@import url(https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap);

*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    letter-spacing: 0.04em;
}

body {
    font-family: "Signika Negative", sans-serif;
    font-weight: 300;
    color: #2D384C;
}

.menu--box {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px 13px 7%;
    background-color: white;
    margin-bottom: 10%;

}

.menu {
    text-align: center;
    font-size: 140%;
    padding: 1% 20% 40%;

}

.menu--title {
    text-align: center;
    font-size: 270%;
    padding-top: 1%;
    text-decoration: underline;
}

.menu--title2 {
    text-align: center;
    font-size: 150%;
    margin-top: -2%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}