.register {
    display: grid;
    justify-content: center;
    text-align: center;
}

.text-registration {
    margin-top: 20px;
    font-size: 270%;
    text-decoration: underline;
    display: grid;
    justify-content: center;
}

.input {
    width: 200px;
    margin: 10px;
}

.label {
    margin-bottom: 6px;
    font-weight: bold;
}

.buttons {
    display: grid;
    justify-items: center;
}

.register-button {
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    border-radius: 20px;
    align-items: center;
    background-color: #293e54;
    height: 40px;
}

