
.error-text {
    color: red;
    font-size: small;
    display: grid;
    justify-items: center;
    margin: 2% 0 4px 0%;
}

.crossed {
    text-decoration: line-through;
}

.my-reservations {
    display: grid;
}

.reservation-box {
    display: grid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 30px;
    border: 1px solid #8191AA;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}


.reservation-item-text {
    display: grid;
}

.reservation-box-header {
    margin-bottom: auto;
}

.all-reservations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.button {
    border: outset;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}