
body {
    font-family: 'DM Sans', sans-serif;
}

.reservation-text, .text--description, .text--header {
    margin: 0;
    display: grid;
    justify-content: center;
}

.text--header {
    margin-top: 20px;
    font-size: 270%;
    text-decoration: underline
}

.text--description {
    margin-bottom: 20px;
}

.form {
    display: grid;
    justify-items: center;
}

.form--upper {
    display: grid;
    width: 500px;
    row-gap: 15px;
}

input, .dropdown, #dropdown {
    border-radius: 12px;
    padding-left: 10px;
    height: 40px;
    background-color: #8191AA;
    color: rgba(255, 255, 255, 0.89);
    font-family: 'DM Sans', sans-serif;
}

.form--lower {
    justify-content: center;
}

.form--lower label {
    row-gap: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.form--submit {
    margin: 20px;
}

.form--submit input {
    background-color: #2D384C;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    margin-top: 25px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.89);
}

.reservation-box {
    /* make 3 colums */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-reservations {
    display: grid;

}

.reservation-item-text {
    /* give it a border */
    /* gice left and right padding */
    padding: 20px 30px;
    border: 1px solid #8191AA;
}